/* ImageSlider.css */
.slider-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  transition: opacity 2s ease-in-out, transform 4s ease-in-out;
  scale: (1);
}

.slider-image.active {
  display: block;
  /* transform: scale(1); */
}

.arrow-button {
  position: absolute;
  top: 50%;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.dot.active {
  background-color: rgb(49, 49, 58); /* Change to your preferred active dot color */
}
