.about {
    display: flex;
    flex-direction: column;
    /* width: 80vw; */
    width: 98vw;
    padding: 0 10vw;
    background-color: #fff;
    height: 100%;
  }
  
  .abt {
    display: flex;
    justify-content: center;
  }
  
  .box1,
  .box3,
  .box2,
  .box4 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .abt-img {
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: center;
  }
  
  .abt-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Adjust the border-radius as needed */
  }
  
  .abt-text {
    font-size: 16px; /* Adjust the font size as needed */
    font-style: oblique;
    font-weight: 600;
    margin: 1rem;
    width: 100%;
  }
  