.about{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #fff;
}

.abt{
    display: flex;
    justify-content: center;
}
.box1, .box3{
    /* position: relative; */
    display: flex;
    width: 100vw;
}

.box2, .box4{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;

}


.abt-img{
    /* border: 1px solid #000; */
display: flex;
padding: 40px 40px;
width: 45vw;
}

.abt-img img{
    border-radius: 50px;
}
.abt-text{
    /* border: 1px solid #fffdfd; */
font-size: x-large;
font-style: oblique;
font-weight: 600;
 margin-top: 3rem;
 margin-right: 2rem;
 margin-left: 2rem;
  width: 50vw;
}


