.line-container {
    text-align: center;
    width: 98vw;
    padding: 0 10vw;
  }

  .ui-container {
    text-align: start;
    line-height: 2rem;
  }
  
 .pulm-img1{
  display: flex;
  justify-content: center;
  gap: 2rem;
 }
 .pulm-img1 img{
  width: 30%;
 }

  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .container h1 {
      font-size: 1.5em;
    }
  
    .container h2 {
      font-size: 1.2em;
    }
  
    .container h3 {
      font-size: 1em;
    }
    .pulm-img1{
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    .pulm-img1 img {
      width: 80%;
    }
  }
  