.committee {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    box-sizing: border-box; /* This ensures padding and border are included in the element's total width and height */
}

.com-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.com-mems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;

margin-bottom: 15px;

}

.com-mem {
    margin: 10px;
    text-align: center;
}

.com-mem img {
    width: 100%;
    max-width: 200px; /* Adjust as needed */
    height: 90%;
    border-radius: 50%;

}

@media (max-width: 768px) {
    .com-mems {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }
}
