.committee{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #fff;

}

.com-title{
    display: flex;
    justify-content: center;
}


.com-mems{
    
    display: flex;
    justify-content: space-evenly;
}

.com-mem{
    display: flex;
    flex-direction: column;
    align-items: center;
}