.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #fff;
}
.intro {
  /* position: relative; */
  display: flex;
  width: 100vw;
  margin-bottom: -1rem;
  background-color: rgb(13, 28, 83);
}



.dna-img {
  /* border: 1px solid #000; */

  display: flex;
  padding: 2vw 2vw;
  width: 45vw;
  object-fit: contain;
}

.dna-img img {
  border-radius: 50px;
 
}

.img-text {
  /* border: 1px solid #fffdfd; */
  margin-top: 3rem;
  width: 50vw;
}

.img-text p {
  color: #fff;
  font-style: oblique;
  font-size: 2.4vw;
}

.img-container {
  margin-top: 0;
  width: 100vw;
}

.last {
  display: flex;
  justify-content: center;
}

.last-container {
  display: flex;
  /* width: 40vw; */
  justify-content: center;
  gap: 6rem;
  margin-bottom: 4rem;
}

.box {
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
  /* padding: 10rem 6rem; */
  /* border: 1px solid #000; */
  border-radius: 8px;
  background-color: rgb(241, 237, 237);
  overflow: hidden;
}

.box img {
  width: 20vw;
  border-radius: 8px;
  margin-bottom: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.box:hover img {
  transform: scale(1.2);
}

.box-img {
  overflow: hidden;
}

.read {
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  overflow: hidden;
}
.content p {
  font-weight: 600;
}
