.line-container {
    text-align: center;
    width: 80vw;
    padding: 0 10vw;
  }

  .biosim-img1, .biosim-img2{
    display: flex;
    justify-content: space-around;
    gap: 4rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .container h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .container h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .container h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .container p {
    font-size: 1em;
    margin-bottom: 15px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  .small-mole-container{
    display: flex;
    flex-direction: column;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 1200px) { 
    .biosim-img1{
      flex-direction: column;
    }
  }
  @media screen and (max-width: 600px) {
    .container h1 {
      font-size: 1.5em;
    }
  
    .container h2 {
      font-size: 1.2em;
    }
  
    .container h3 {
      font-size: 1em;
    }
    .biosim-img2 img{
      width: 100%;
    }
  }
  