.vision {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
  }
  
  .vision-img {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .vision-img img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.62;
  }
  
  .vision-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw; /* Responsive font size */
    font-weight: bold;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .cnt-img1 {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.42;
  }
  
  .vision-cnt {
    display: flex;
    width: 80vw;
    align-items: center;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8vw; /* Responsive font size */
    font-weight: 600;
    justify-content: space-evenly;
    
    /* Adjustments for smaller screens */
    @media (max-width: 768px) {
      font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
  }
  .cnt-img2 {
    width: 100%;
  }
  
  .vision-text {
    width: 100%;
    max-width: 40rem; /* Set a max-width for better readability on larger screens */
    margin: 0 auto; /* Center the content on larger screens */
    padding: 1rem; /* Add padding for better spacing */
  
    /* Adjustments for smaller screens */
    @media (max-width: 768px) {
      max-width: 100%; /* Use full width on smaller screens */
    }
  }

  @media (max-width: 800px) {
    .vision-img2{
      width: 100vw;
    }
    .cnt-img2{
      width: 60vw !important;
      position: relative;
    left: 20vw;
    }
    .vision-text{
      width: 100% !important;
      font-size: 0.9rem;
    }
    .vision-cnt{
      flex-direction: column;
    }
  }
  
  /* Media Queries for Responsive Design */
  @media (min-width: 768px) {
    .vision-title {
      font-size: 3rem; /* Adjust font size for medium screens */
    }
  
    .vision-cnt {
      flex-direction: row;
      top: 50%;
    }
  
    .vision-text {
      width: 50%;
      /* color: black; */
      font-size: 1rem;
      max-width: none; /* Remove max-width for larger screens */
    }
  }
  