.line-container {
    text-align: center;
    width: 80vw;
    padding: 0 10vw;
  }

  .drug-img2{
    display: flex;
  justify-content: center;
    gap: 2rem;
  }
  .drug-img2 img{
    width: 30%;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .container h1 {
      font-size: 1.5em;
    }
  
    .container h2 {
      font-size: 1.2em;
    }
  
    .container h3 {
      font-size: 1em;
    }
  }
  